.reviews-area {
  margin-top: 50px;
}

.review {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  border: 1px solid purple;
  border-collapse: collapse;
  line-height: 2em;
  word-break: break-all;
  .reviewer {
    width: 15%;
  }

  .description {
    margin: 0;
    padding: 15px;
    width: 55%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    line-height: 1em;
    font-size: 1.1em;
    text-align: left;
  }

  .rating {
    text-align: left;
    margin: 0;
    padding: 10px;
    font-size: 1.3em;

    .rating-num {
      color: red;
    }
  }
}
.reviews-form {
  textarea {
     resize: none;
  }
}
